NodeRed1_11
[{"id":"3701fdd4.367aa2","type":"mqtt in","z":"6f632e4f.869ab","name":"MQTT in","topic":"outbound","qos":"0","broker":"1eaa1d4e.e5e773","x":60,"y":100,"wires":[["f38b353e.ac6628"]]},{"id":"45e08b6c.686aa4","type":"inject","z":"6f632e4f.869ab","name":"test input","topic":"devices/SmartLockPi/messages/events","payload":"unlock","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0","x":100,"y":380,"wires":[[]]},{"id":"912f934a.34b4c","type":"switch","z":"6f632e4f.869ab","name":"azure processing","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"unlock","vt":"str"},{"t":"cont","v":"lock","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":330,"y":420,"wires":[["80134fe6.de5bd","ea77e1a7.32583"],["c3a47030.a2404","df64325c.08f58"]]},{"id":"c0647420.d42a08","type":"rpi-gpio out","z":"6f632e4f.869ab","name":"unlock out","pin":"7","set":true,"level":"0","freq":"","out":"out","x":850,"y":320,"wires":[]},{"id":"3ed2a48a.1c22ac","type":"delay","z":"6f632e4f.869ab","name":"delay","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":870,"y":380,"wires":[["463aea18.03e7f4","6e66ab4d.ecafc4"]]},{"id":"df64325c.08f58","type":"change","z":"6f632e4f.869ab","name":"SwitchAttemptOff","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":560,"wires":[["81f9c265.9d434","c21b0566.38f208","7af80f7.4d717f"]]},{"id":"bfd18d00.d973e","type":"rpi-gpio out","z":"6f632e4f.869ab","name":"unlock out","pin":"7","set":"","level":"0","freq":"","out":"out","x":1330,"y":380,"wires":[]},{"id":"ea77e1a7.32583","type":"change","z":"6f632e4f.869ab","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":380,"wires":[["c0647420.d42a08","3ed2a48a.1c22ac","efe07724.086688"]]},{"id":"463aea18.03e7f4","type":"change","z":"6f632e4f.869ab","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":380,"wires":[["bfd18d00.d973e"]]},{"id":"81f9c265.9d434","type":"rpi-gpio out","z":"6f632e4f.869ab","name":"lock out","pin":"29","set":true,"level":"1","freq":"","out":"out","x":900,"y":500,"wires":[]},{"id":"c21b0566.38f208","type":"delay","z":"6f632e4f.869ab","name":"delay","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":910,"y":560,"wires":[["335de943.b4b816"]]},{"id":"5032ae28.505f1","type":"rpi-gpio out","z":"6f632e4f.869ab","name":"lock out","pin":"29","set":"","level":"0","freq":"","out":"out","x":1320,"y":560,"wires":[]},{"id":"335de943.b4b816","type":"change","z":"6f632e4f.869ab","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":560,"wires":[["5032ae28.505f1"]]},{"id":"330478d2.2d6f48","type":"rpi-gpio out","z":"6f632e4f.869ab","name":"lock out","pin":"29","set":true,"level":"1","freq":"","out":"out","x":1060,"y":440,"wires":[]},{"id":"efe07724.086688","type":"change","z":"6f632e4f.869ab","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":440,"wires":[["330478d2.2d6f48"]]},{"id":"96d09fd3.50aa2","type":"rpi-gpio out","z":"6f632e4f.869ab","name":"unlock out","pin":"7","set":true,"level":"0","freq":"","out":"out","x":1110,"y":620,"wires":[]},{"id":"7af80f7.4d717f","type":"change","z":"6f632e4f.869ab","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":620,"wires":[["96d09fd3.50aa2"]]},{"id":"6e66ab4d.ecafc4","type":"change","z":"6f632e4f.869ab","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":320,"wires":[["7eec0375.c1803c"]]},{"id":"7eec0375.c1803c","type":"rpi-gpio out","z":"6f632e4f.869ab","name":"lock out","pin":"29","set":"","level":"0","freq":"","out":"out","x":1320,"y":320,"wires":[]},{"id":"f38b353e.ac6628","type":"change","z":"6f632e4f.869ab","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"devices/SmartLockPi/messages/events","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":100,"wires":[["3dbdb5c4.f2ca3a","d1e8157e.7f7f08"]]},{"id":"3dbdb5c4.f2ca3a","type":"debug","z":"6f632e4f.869ab","name":"mqtt in","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":410,"y":160,"wires":[]},{"id":"d1e8157e.7f7f08","type":"azureiothub","z":"6f632e4f.869ab","name":"Azure IoT Hub","protocol":"mqtt","x":440,"y":100,"wires":[["912f934a.34b4c"]]},{"id":"80134fe6.de5bd","type":"debug","z":"6f632e4f.869ab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":420,"wires":[]},{"id":"c3a47030.a2404","type":"debug","z":"6f632e4f.869ab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":480,"wires":[]},{"id":"1eaa1d4e.e5e773","type":"mqtt-broker","z":"","name":"Raspberry Pi","broker":"m24.cloudmqtt.com","port":"12775","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
